<app-common-wrapper-webxpress [breadscrums]="breadscrums" [backPath]="backPath">
  <!-- Basic Detail -->
  <div *ngIf="thcLoad" class="d-flex justify-content-center align-items-center">
    <!-- Bootstrap loader -->
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!thcLoad">
    <form [formGroup]="thcTableForm">
      <app-form-webxpress [form]="thcTableForm" [FormTitle]="'Basic Detail'" [formData]="jsonControlBasicArray"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- End -->
    <!-- fleet Detail -->
    <div *ngIf="marketVendor">
      <form [formGroup]="marketVehicleTableForm">
        <app-form-webxpress [form]="marketVehicleTableForm" [FormTitle]="'Market Vehicle'"
          [formData]="jsonMarketVehicle" (functionCallEmitter)="functionCallHandler($event)"
          [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>
    <!-- Driver Detail -->
    <div *ngIf="!marketVendor">
      <form [formGroup]="thcTableForm">
        <app-form-webxpress [form]="thcTableForm" [FormTitle]="'Driver Detail'" [formData]="jsonControlDriverArray"
          (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
          (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>
    <!-- End -->
    <!-- Docket Detail -->
    <div *ngIf="addThc">
      <form [formGroup]="thcTableForm">
        <app-form-webxpress [form]="thcTableForm" [FormTitle]="' Docket Detail'" [formData]="jsonControlDocketArray"
          (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
          (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>
    <!-- End -->
    <form [formGroup]="thcTableForm">
      <app-form-webxpress [form]="thcTableForm" [FormTitle]="'Vehicle Loading Detail'"
        [formData]="jsonControlVehLoadArray" (functionCallEmitter)="functionCallHandler($event)"
        [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- End -->

    <!-- Mark Arrival Detail -->
    <div *ngIf="isArrivedInfo">
      <form [formGroup]="thcTableForm">
        <app-form-webxpress [form]="thcTableForm" [FormTitle]="'Mark Arrival Detail'"
          [formData]="jsonControlArrivalArray" (functionCallEmitter)="functionCallHandler($event)"
          [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>

    <div *ngIf="tableLoad" class="d-flex justify-content-center align-items-center">
      <!-- Bootstrap loader -->
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <app-generic-table-v2 *ngIf="!tableLoad&&!addThc" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
      [tableData]="tableData" [metaData]="metaData" [disbleCheckbox]="disbleCheckbox" [menuItems]="menuItems"
      [staticField]="staticField" [TableStyle]="TableStyle" [Link]="linkArray" [height]="height" [width]="width"
      [maxWidth]="maxWidth" (menuItemClicked)="handleMenuItemClick($event)" (onFlagChange)="selectCheckBox($event)"
      [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag" [uploadedFiles]="uploadedFiles"  [EventButton]="EventButton"
      (functionCallEmitter)="functionCallHandler($event)"
      (callFunction)="functionCallHandler($event)"
      >
    </app-generic-table-v2>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
        <div class="example-button-row d-flex justify-content-start">
          <button class="msr-3" mat-raised-button color="primary" *ngIf="!isView" (click)="createThc()"
            [disabled]="!thcTableForm.valid"> {{ isUpdate ? 'Update THC' : 'Generate THC' }}</button>
          <button class="msr-3" mat-raised-button color="primary" (click)="goBack('THC')">Back</button>
        </div>
      </div>
    </div>
  </div>
</app-common-wrapper-webxpress>