<app-common-wrapper-webxpress [breadscrums]="breadscrums" [backPath]="backPath">
  <!-- Basic Detail -->
  <div *ngIf="thcLoad" class="d-flex justify-content-center align-items-center">
    <!-- Bootstrap loader -->
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="!thcLoad">
  <form [formGroup]="thcTableForm">
    <app-form-webxpress [form]="thcTableForm"  [FormTitle]="'Basic Detail'" [formData]="jsonControlBasicArray"
      (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
      (callFunction)="functionCallHandler($event)">
    </app-form-webxpress>
  </form>
  <!-- End -->
    <!-- fleet Detail -->
    <div *ngIf="marketVendor">
     <app-add-fleet-master [thc]="true"></app-add-fleet-master>
    </div>
  <!-- Driver Detail -->

  <form [formGroup]="thcTableForm">
    <app-form-webxpress [form]="thcTableForm"  [FormTitle]="'Driver Detail'" [formData]="jsonControlDriverArray"
      (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
      (callFunction)="functionCallHandler($event)">
    </app-form-webxpress>
  </form>

  <!-- End -->
  <!-- Docket Detail -->
  <div *ngIf="addThc">
  <form [formGroup]="thcTableForm">
    <app-form-webxpress [form]="thcTableForm"  [FormTitle]="' Docket Detail'" [formData]="jsonControlDocketArray"
      (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
      (callFunction)="functionCallHandler($event)">
    </app-form-webxpress>
  </form>
</div>
  <!-- End -->
  <form [formGroup]="thcTableForm">
    <app-form-webxpress [form]="thcTableForm"  [FormTitle]="'Vehicle Loading Detail'" [formData]="jsonControlVehLoadArray"
    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
    (callFunction)="functionCallHandler($event)">
  </app-form-webxpress>
  </form>
  <!-- End -->

  <div *ngIf="tableLoad" class="d-flex justify-content-center align-items-center">
    <!-- Bootstrap loader -->
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="paddingdiv">
    <app-generic-table-v2 *ngIf="!tableLoad&&!addThc" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
      [tableData]="tableData" [metaData]="metaData" [menuItems]="menuItems" [staticField]="staticField"
      [TableStyle]="TableStyle" [Link]="linkArray" [height]="height" [width]="width" [maxWidth]="maxWidth"
      (menuItemClicked)="handleMenuItemClick($event)" (onFlagChange)="selectCheckBox($event)"
      [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag" [uploadedFiles]="uploadedFiles">
    </app-generic-table-v2>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
        <div class="example-button-row d-flex justify-content-start">
          <button class="msr-3" mat-raised-button color="primary" *ngIf="!isView" (click)="createThc()"
            [disabled]="!thcTableForm.valid"> {{ isUpdate ? 'Update THC' : 'Generate THC' }}</button>
          <button class="msr-3" mat-raised-button color="primary" (click)="goBack('THC')">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
</app-common-wrapper-webxpress>
