<section class="content">
    <div class="container-fluid">
        <div *ngIf="!CnoteData" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="CnoteData">
            <div class="block-header" *ngFor="let breadscrum of breadscrums">
                <!-- breadcrumb -->
                <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
                </app-breadcrumb>
            </div>
        </div>
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body" *ngIf="CnoteData">
                        <mat-stepper #stepper>
                            <div *ngIf="step1Formcontrol">
                                <mat-step [stepControl]="step1">
                                    <form class="register-form m-4" [formGroup]="step1">
                                        <div class="row">
                                            <div [class]="divcol" *ngFor="let step1 of step1Formcontrol">
                                                <!-- Textbox -->

                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step1.type=='text'">
                                                    <mat-label>{{step1.label}}</mat-label>
                                                    <input matInput type="step1.type"
                                                        (ngModelChange)="callActionFunction(step1.ActionFunction,$event)"
                                                        [formControlName]="step1.name" autocomplete="off">

                                                </mat-form-field>
                                                <!-- date -->

                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step1.type=='date'">
                                                    <mat-label>{{step1.label}}</mat-label>
                                                    <input matInput [matDatepicker]="Cnotename"
                                                        [formControlName]="step1.name">
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="Cnotename"></mat-datepicker-toggle>
                                                    <mat-datepicker #Cnotename></mat-datepicker>
                                                </mat-form-field>

                                                <!-- Dropdown -->
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step1.type=='dropdown'">
                                                    <mat-label>{{step1.label}}</mat-label>
                                                    <mat-select [formControlName]="step1.name"
                                                        (ngModelChange)="callActionFunction(step1.ActionFunction,$event)">
                                                        <mat-option *ngFor="let option of step1.dropdown"
                                                            [value]="option.CodeId">
                                                            {{ option.CodeDesc }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <!--Auto Dropdown -->
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step1.type=='autodropdown' && step1.name!='FCITY' && step1.name!='TCITY'">
                                                    <mat-label>{{step1.label}}</mat-label>
                                                    <input matInput [formControlName]="step1.name" autocomplete="off"
                                                        [matAutocomplete]="autoBiling">
                                                    <mat-autocomplete #autoBiling="matAutocomplete"
                                                        [displayWith]="displayCnotegropFn" (optionSelected)="callActionFunction(step1.ActionFunction,$event)">
                                                        <mat-option *ngFor="let option of filteredCnoteBilling | async"
                                                            [value]="option">
                                                            {{option.CodeDesc}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                                <!----end -->
                                                <!-- Auto dropdown for City -->
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step1.type=='autodropdown' && step1.name=='FCITY'|| step1.name=='TCITY'">
                                                    <mat-label>{{step1.label}}</mat-label>
                                                    <input matInput [formControlName]="step1.name" autocomplete="off"
                                                        [matAutocomplete]="city">
                                                    <mat-autocomplete #city="matAutocomplete"
                                                        [displayWith]="displayCitygropFn" (optionSelected)="callActionFunction(step1.ActionFunction,$event)">
                                                        <mat-option *ngFor="let option of step1.filteredOptions | async"
                                                            [value]="option">
                                                            {{option.Name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                                <!-- End -->
                                                <!--Toggale  -->
                                                <mat-slide-toggle color="primary" *ngIf="step1.type=='toggle'"
                                                    [formControlName]="step1.name">{{step1.label}}</mat-slide-toggle>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <div class="example-button-row">

                                                        <button class="msr-3" mat-raised-button color="primary"
                                                            (click)="4" matStepperNext>Next</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </mat-step>
                            </div>
                            <div *ngIf="step2Formcontrol">
                                <mat-step [stepControl]="step2">
                                    <form class="register-form m-4" [formGroup]="step2">
                                        <div class="row">
                                            <div [class]="divcol" *ngFor="let step2 of step2Formcontrol">
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step2.type=='text'">
                                                    <mat-label>{{step2.label}}</mat-label>
                                                    <input matInput type="step2.type"
                                                        (ngModelChange)="callActionFunction(step2.ActionFunction,$event)"
                                                        [formControlName]="step2.name" autocomplete="off">

                                                </mat-form-field>
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step2.type=='date'">
                                                    <mat-label>{{step2.label}}</mat-label>
                                                    <input matInput [matDatepicker]="Cnotename"
                                                        [formControlName]="step2.name">
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="Cnotename"></mat-datepicker-toggle>
                                                    <mat-datepicker #Cnotename></mat-datepicker>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step2.type=='dropdown'">
                                                    <mat-label>{{step2.label}}</mat-label>
                                                    <mat-select [formControlName]="step2.name ">
                                                        <mat-option *ngFor="let option of step2.dropdown"
                                                            [value]="option.CodeId">
                                                            {{ option.CodeDesc }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-slide-toggle color="primary" *ngIf="step2.type=='toggle'"
                                                    [formControlName]="step2.name">{{step2.label}}</mat-slide-toggle>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <div class="example-button-row">

                                                        <button mat-button matStepperPrevious>Back</button>
                                                        <button class="msr-3" mat-raised-button color="primary"
                                                            (click)="4" matStepperNext>Next</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </mat-step>
                            </div>
                            <div *ngIf="step3Formcontrol">
                                <mat-step [stepControl]="step3">
                                    <form class="register-form m-4" [formGroup]="step3">
                                        <div class="row">
                                            <div [class]="divcol" *ngFor="let step3 of step3Formcontrol">
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step3.type=='text'">
                                                    <mat-label>{{step3.label}}</mat-label>
                                                    <input matInput type="step3.type"
                                                        (ngModelChange)="callActionFunction(step3.ActionFunction,$event)"
                                                        [formControlName]="step3.name" autocomplete="off">

                                                </mat-form-field>
                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step3.type=='date'">
                                                    <mat-label>{{step3.label}}</mat-label>
                                                    <input matInput [matDatepicker]="Cnotename"
                                                        [formControlName]="step3.name">
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="Cnotename"></mat-datepicker-toggle>
                                                    <mat-datepicker #Cnotename></mat-datepicker>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width" appearance="outline"
                                                    *ngIf="step3.type=='dropdown'">
                                                    <mat-label>{{step3.label}}</mat-label>
                                                    <mat-select [formControlName]="step3.name">
                                                        <mat-option *ngFor="let option of step3.dropdown"
                                                            [value]="option.CodeId">
                                                            {{ option.CodeDesc }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-slide-toggle color="primary"
                                                    *ngIf="step3.type=='toggle' && step3.name !='SerialScan' && step3.name !='EachScan'"
                                                    [formControlName]="step3.name">{{step3.label}}</mat-slide-toggle>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                <div class="example-button-row">

                                                    <button mat-button matStepperPrevious>Back</button>
                                                    <button class="msr-3" mat-raised-button color="primary" (click)="4"
                                                        [disabled]="!step3.valid">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </mat-step>
                            </div>
                        </mat-stepper>
                    </div>

                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->
    </div>






</section>