<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <mat-tab-group (selectedIndexChange)="GetSelectedIndex($event)" #myTabGroup>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Dashboard
                            </ng-template>
                            <app-dashboard-count-page *ngIf="myTabGroup.selectedIndex== 0"
                                (CurrentIndex)="GetSelectedIndex($event)"></app-dashboard-count-page>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Docket Stock
                            </ng-template>
                            <app-stocks *ngIf="myTabGroup.selectedIndex== 1" (CurrentIndex)="GetSelectedIndex($event)"
                                (departure)="departureDetails"></app-stocks>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Arrivals
                            </ng-template>
                            <app-arrival-dashboard-page *ngIf="myTabGroup.selectedIndex== 2"
                                (CurrentIndex)="GetSelectedIndex($event)"
                                (departure)="departureDetails"></app-arrival-dashboard-page>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Departures
                            </ng-template>
                            <app-departure-dashboard-page *ngIf="myTabGroup.selectedIndex==3"
                                (CurrentIndex)="GetSelectedIndex($event)"
                                [arrivaldeparture]="departure"></app-departure-dashboard-page>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Delivery
                            </ng-template>
                            <app-pickup-delivery-planner *ngIf="myTabGroup.selectedIndex==4"
                                (CurrentIndex)="GetSelectedIndex($event)"></app-pickup-delivery-planner>
                        </mat-tab>
                        <!-- <mat-tab>
                            <ng-template mat-tab-label>
                                DEPS
                            </ng-template>
                        </mat-tab> -->
                        <mat-tab>
                            <ng-template mat-tab-label>
                                POD/COD
                            </ng-template>
                            <app-pod-cod-dashboard-page *ngIf="myTabGroup.selectedIndex== 5"
                                (CurrentIndex)="GetSelectedIndex($event)"></app-pod-cod-dashboard-page>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                PRQ Summary
                            </ng-template>
                            <app-prq-summary-page *ngIf="myTabGroup.selectedIndex== 6"
                                (CurrentIndex)="GetSelectedIndex($event)"></app-prq-summary-page>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Job Summary
                            </ng-template>
                            <app-job-summary-page *ngIf="myTabGroup.selectedIndex== 7"
                                (CurrentIndex)="GetSelectedIndex($event)"></app-job-summary-page>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>