<h4 style="margin-top:10px;margin-left:10px;"><mat-icon style="padding-top:4px;">view_list</mat-icon>
    Non-Freight Charges</h4>
<hr>

<button matTooltip="Add Data" mat-stroked-button class="filter_btn" style="margin-left: 85%;" (click)="toggleDrawer()">
    <mat-icon>add</mat-icon>
    Add New
</button>

<div class="body">
    <div class="task-list" style=" max-height: 370px;">
        <div class="row">
            <mat-drawer-container class="example-container" style=" height: 350px;" autosize>
                <mat-drawer [opened]="isDrawerOpen" style="width: 30%;padding-right: 15px;" mode="side" position="end">
                    <form [formGroup]="NonFreightChargesForm">
                        <app-form-webxpress [form]="NonFreightChargesForm"
                            [formData]="jsonControlArrayNonFreightCharges"
                            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="true"
                            (callFunction)="functionCallHandler($event)" [className]="productsclassName">
                        </app-form-webxpress>
                    </form>
                </mat-drawer>

                <div>
                    <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls"
                        [columnHeader]="ChargescolumnHeader" [tableData]="chargestableData" [menuItems]="menuItems"
                        [staticField]="ChargesstaticField" [Link]="linkArray" [menuItemFlag]="menuItemflag"
                        [addFlag]="addFlag" (menuItemClicked)="handleMenuItemClick($event)"
                        [btndisabled]="!NonFreightMatrixForm.valid">
                    </app-generic-table-v2>
                </div>
            </mat-drawer-container>
            <!-- <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="paddingdiv">
                                <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls"
                                    [columnHeader]="ChargescolumnHeader" [tableData]="tableData" [menuItems]="menuItems"
                                    [staticField]="ChargesstaticField" [Link]="linkArray" [menuItemFlag]="menuItemflag"
                                    [addFlag]="addFlag" (menuItemClicked)="handleMenuItemClick($event)"
                                    [AddNewButton]=true [btndisabled]="!NonFreightMatrixForm.valid"
                                    (AddNewButtonEvent)="AddNewButtonEvent()">
                                </app-generic-table-v2>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <form [formGroup]="NonFreightChargesForm">
                                <app-form-webxpress [form]="NonFreightChargesForm"
                                    [formData]="jsonControlArrayNonFreightCharges"
                                    (functionCallEmitter)="functionCallHandler($event)"
                                    [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)"
                                    [className]="productsclassName">
                                </app-form-webxpress>
                            </form>
                        </div> -->
        </div>
    </div>
</div>

<!-- 
<form [formGroup]="NonFreightMatrixForm">
    <app-form-webxpress [form]="NonFreightMatrixForm" [formData]="jsonControlArrayNonFreightMatrix"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)" [className]="className">
    </app-form-webxpress>
</form>

<div *ngIf="isLoad" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="paddingdiv">
    <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="tableData" [menuItems]="menuItems" [staticField]="staticField" [Link]="linkArray"
        [menuItemFlag]="menuItemflag" [addFlag]="addFlag" (menuItemClicked)="handleMenuItemClick($event)"
        [AddNewButton]=true [btndisabled]="!NonFreightMatrixForm.valid" (AddNewButtonEvent)="AddNewButtonEvent()">
    </app-generic-table-v2>
</div> -->