<app-common-wrapper-webxpress [breadscrums]="breadScrums" [loadTable]="tableLoad">
    <app-generic-table-v2 *ngIf="!tableLoad" [columnHeader]="columnHeader" [tableData]="csv"
    [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
    [csvFileName]="csvFileName" [dynamicControls]="dynamicControls" (onFlagChange)="IsActiveFuntion($event)"
    [metaData]="METADATA" [toggleArray]="toggleArray" [Link]="linkArray">
    </app-generic-table-v2>
</app-common-wrapper-webxpress>