<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">    
    <form [formGroup]="prqEntryTableForm">
        <app-form-webxpress [form]="prqEntryTableForm" [FormTitle]="'PRQ Form'" [formData]="jsonControlPrqArray"
            [modifyAndSaveButton]="iSShow"  [Disabled]="isDisbled" (callFunction)="functionCallHandler($event)"
            (functionCallEmitter)="functionCallHandler($event)" [submit]="submit" 
            [MatButton]="(this.prqEntryTableForm.value?.pICKDT &&
            this.prqEntryTableForm.value?.fCITY &&
            this.prqEntryTableForm.value?.tCITY) ? ContractButton : ''">
        </app-form-webxpress>
    </form>
</app-common-wrapper-webxpress>