
<div style="width: 100%; display: flex; justify-content: center; background-color: white;">
    <div style="width: 1000px; margin: 20px 0px; border: 1px solid black;">
        <div class="body" style="width:100%">
            <div style="width: 100%; display: flex; height: 130px; padding: 10px 0px;">
                <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/viewTest/image.png" style="height:90%;" />
                </div>
                <div style="width: 80%; display: flex; flex-direction: column; justify-content: space-between;">
                    <h1 class="m-0 p-0 p-1" style="text-align: center; font-weight: bold;">JAIN CARGO MOVERS</h1>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">G1/74 Badarna
                        Industrial Area, V.K.I., Near Maluka Industries, Jaipur -13 Ph. 0141 - 4042152, 4063712 </p>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">FSSAI License
                        No. 12221999000294 | SAC Code: 996791 </p>
                </div>
            </div>
            <div class="p-1" style="width: 100%; border-top: 4px double black; font-weight: bold; text-align: center;">
                BILL</div>
            <div class="p-1"
                style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-weight: bold; text-align: center;">
                Ex. Kalaamb</div>
            <div style="width: 100%;">
                <table style="width:100%;">
                    <tr style="height: 30px;">
                        <td class="p-1 col-3" style="font-weight: bold;">TO</td>
                        <td class="p-1 col-9">M/s:- Dabur Inda Limited Ambala</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="p-1 col-3" style="font-weight: bold;">Address:-</td>
                        <td class="p-1 col-9">Rishi Markendeshwar Enclave,VIII,Landa,Tehsil,Saha Ambala-133102</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="p-1 col-3" style="font-weight: bold;">GSTIN No.</td>
                        <td class="p-1 col-9">06AAACD0474C1Z9</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="p-1 col-3" style="font-weight: bold;">PAN No.</td>
                        <td class="p-1 col-9">AAACD0474C</td>
                    </tr>
                </table>
            </div>

            <div class="m-0 p-1" style="width: 100%; border-bottom: 1px solid black;">
                <p class="p-0 m-0">
                    Dear Sir,
                </p>
                <p class="p-0 m-0">
                    We are submitting our bill on account of freight payable to us for transportation of your products
                    as per rate approved by you.
                </p>
            </div>

            <div style="width: 100%;">
                <table style="width:100%;">
                    <thead>
                        <tr style="height: 30px; text-align: center;">
                            <th class="p-1 col-1">Sr.No.</th>
                            <th class="p-1 col-1">Source</th>
                            <th class="p-1 col-1">Destination</th>
                            <th class="p-1 col-1">Bill No.</th>
                            <th class="p-1 col-1">Bill Date</th>
                            <th class="p-1 col-1">LR No.</th>
                            <th class="p-1 col-2">DC no./PO No.</th>
                            <th class="p-1 col-1">Freight Charge</th>
                            <th class="p-1 col-1">Detention Charge</th>
                            <th class="p-1 col-1">Loading/ Unloading Charge</th>
                            <th class="p-1 col-1">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="height: 30px;">
                            <td class="p-1" style=" text-align: center;">1</td>
                            <td class="p-1" style=" text-align: center;">Kalamb</td>
                            <td class="p-1" style=" text-align: center;">Ambala</td>
                            <td class="p-1" style=" text-align: center;">274507</td>
                            <td class="p-1" style=" text-align: center;">11-12-2023</td>
                            <td class="p-1" style=" text-align: center;">782705</td>
                            <td class="p-1" style=" text-align: center;">KAG/2324/TI/0242</td>
                            <td class="p-1" style=" text-align: center;">8500</td>
                            <td class="p-1" style=" text-align: center;">750</td>
                            <td class="p-1" style=" text-align: center;">0</td>
                            <td class="p-1" style=" text-align: center;">9250</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="height: 30px;">
                            <td class="p-1" colspan="11"></td>
                        </tr>
                        <tr style="height: 30px; font-weight: bold;">
                            <td colspan="10" class="p-1">Amount in words:- Rupees Nine Thousand Two Hundred Fifty Only
                            </td>
                            <td class="p-1" style="text-align: center;">9250</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="p-1" style="width: 100%;">
                <p class="m-0 p-0">Freight claimed is exclusive of GST which has to be submitted by you to the
                    Government. </p>
                <p class="m-0 p-0">"We hereby confirm that GST ITC for providing the taxable service has not been taken
                    by us under the provisions mentioned in the GST Rules 2017" </p>
                <p class="m-0 p-0">Tax is payable on reverse charge basis</p>
            </div>

            <div style="width: 100%; display: flex; padding: 0px 5px;">
                <div style=" width: 30%; display: flex; flex-direction: column;">
                    <div class="p-1 m-0"
                        style="border-top: 1px solid black; border-left: 1px solid black;  border-right: 1px solid black; height: 30px; font-weight: bold; text-align: center;">
                        Enclosed</div>
                    <div class="p-1 m-0"
                        style="height: 80px; display: flex; justify-content: center; align-items: center; border: 4px double black;">
                        Origional Receipt</div>
                </div>
                <div style="width: 70%; display: flex; flex-direction: column; border-right: 1px solid black;">
                    <div class="p-1 m-0"
                        style="border-top: 1px solid black; height: 50px; font-weight: bold; text-align: center;">JAIN
                        CARGO MOVERS</div>
                    <div class="p-1 m-0" style="border-top: 1px solid black; height: 30px;">1.Interest @18% per anum
                        will be charged on all outstanding bills.</div>
                    <div class="p-1 m-0"
                        style="border-top: 1px solid black; border-bottom: 1px solid black; height: 30px;">2.All Subjet
                        to be Jaipur Juridiction</div>
                </div>
            </div>

            <div style="width: 100%; display: flex; font-weight: bold;">
                <div class="p-1" style="height: 50px; margin-top: 50px; width: 50%; text-align: center;">Prepared By
                </div>
                <div class="p-1" style="height: 50px; margin-top: 50px; width: 50%; text-align: center;">Manager</div>
            </div>

        </div>
    </div>
</div>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table,
    td:first-child,
    th:first-child {
        border-left: none;
    }

    table,
    td:last-child,
    th:last-child {
        border-right: none;
    }

    table,
    tr:first-child td,
    tr:first-child th {
        border-top: none;
    }
</style>