<div>
   <div style="width: 100%; margin: 10px auto;">

      <form [formGroup]="AccountQueryForm">
         <app-form-webxpress [form]="AccountQueryForm" [formData]="jsonControlAccountQueryArray"
            [showSaveAndCancelButton]="true" [FormTitle]="'Account List Filter'"
            [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'" (callFunction)="functionCallHandler($event)"
            (functionCallEmitter)="functionCallHandler($event)">
         </app-form-webxpress>
      </form>
   </div>
   <!-- <div style="margin-top: 10px;">
      <button mat-raised-button (click)="Save()" color="primary" style="margin: 0px 8px;">Save</button>
      <button mat-raised-button (click)="cancel()">cancel</button>
   </div> -->
</div>