<div mat-dialog-title style="display: flex;
  justify-content: space-between;margin: 0 0 0px;
  align-items: center;">
    <h3>Voucher Details
    </h3>
    <button mat-icon-button (click)="Close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="body">
    <form [formGroup]="CreditDebitAgainstDocumentForm">
        <app-form-webxpress [form]="CreditDebitAgainstDocumentForm" [FormTitle]="'Debit Voucher Details'"
            [formData]="jsonControlCreditDebitAgainstDocumentArray" (functionCallEmitter)="functionCallHandler($event)"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="true">
        </app-form-webxpress>
    </form>
</div>