<app-common-wrapper-webxpress [breadscrums]="breadScrums">
  <form [formGroup]="dcrRulesTableForm">
    <app-form-webxpress [form]="dcrRulesTableForm" [formData]="jsonControlArray" [FormTitle]="'Series Admin Rules'"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="false">
    </app-form-webxpress>
  </form>
  <button type="button" mat-raised-button color="primary" *ngIf="dcrRulesTableForm.valid" (click)="manageExceptions()">
    Manage
  </button>
  <form *ngIf="showForm" [formGroup]="ManageExceptionsTableForm">
    <app-form-webxpress [form]="ManageExceptionsTableForm" [formData]="ManageExceptionsjsonControlArray" [FormTitle]="'Manage Exceptions'"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="false">
    </app-form-webxpress>
  </form>
  <form [formGroup]="ComputerizedRulesTableForm">
    <app-form-webxpress [form]="ComputerizedRulesTableForm" [formData]="ComputerizedjsonControlArray" [FormTitle]="'Computerized document configuration'"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="true">
    </app-form-webxpress>
  </form>


</app-common-wrapper-webxpress>
