<app-common-wrapper-webxpress [breadscrums]="breadScrums">

    <form [formGroup]="CreditDebitVoucherSummaryForm">
        <app-form-webxpress [form]="CreditDebitVoucherSummaryForm" [FormTitle]="'Debit Voucher Summary'"
            [formData]="jsonControlCreditDebitVoucherSummaryArray" (functionCallEmitter)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false" [className]="className">
        </app-form-webxpress>
    </form>
    <app-table-boilerplate [tableData]="tableData" [columnHeader]="VoucherDetailsDisplayedColumns"
        [FormTitle]="'Debit Voucher Details'" (DeleteAction)="delete($event,'tableData')"
        (AddRow)="addVoucherDetails($event)" (functionCallEmitter)="functionCallHandler($event)"
        (Submit)="saveData($event)" [showsubmit]="false" [ActionObject]="actionObject" [showHeader]="false"
        (callFunction)="functionCallHandler($event)"></app-table-boilerplate>


    <div class="row">
        <div class="col-4">
            <form [formGroup]="CreditDebitVoucherTaxationTDSForm">
                <app-form-webxpress [form]="CreditDebitVoucherTaxationTDSForm"
                    [FormTitle]="'Debit Voucher Taxation TDS'"
                    [formData]="jsonControlCreditDebitVoucherTaxationTDSArray"
                    [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
        <div class="col-4">

            <form [formGroup]="CreditDebitVoucherTaxationTCSForm">
                <app-form-webxpress [form]="CreditDebitVoucherTaxationTCSForm"
                    [FormTitle]="'Debit Voucher Taxation TCS'"
                    [formData]="jsonControlCreditDebitVoucherTaxationTCSArray"
                    [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
        <div class="col-4">
            <form [formGroup]="CreditDebitVoucherTaxationGSTForm">
                <app-form-webxpress [form]="CreditDebitVoucherTaxationGSTForm"
                    [FormTitle]="'Debit Voucher Taxation GST'"
                    [formData]="jsonControlCreditDebitVoucherTaxationGSTArray"
                    [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form [formGroup]="CreditDebitVoucherTaxationPaymentSummaryForm">
                <app-form-webxpress [form]="CreditDebitVoucherTaxationPaymentSummaryForm"
                    [FormTitle]="'Payment Summary'"
                    [formData]="jsonControlCreditDebitVoucherTaxationPaymentSummaryArray"
                    [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
        <div class="col">
            <form [formGroup]="CreditDebitVoucherTaxationPaymentDetailsForm">
                <app-form-webxpress [form]="CreditDebitVoucherTaxationPaymentDetailsForm"
                    [FormTitle]="'Payment Details'"
                    [formData]="jsonControlCreditDebitVoucherTaxationPaymentDetailsArray"
                    [className]="'col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
    </div>
    <div *ngIf="DisplayCreditDebitVoucherDocument" class="row">
        <div class="col-4">
            <form [formGroup]="CreditDebitVoucherDocumentDebitsForm">
                <app-form-webxpress [form]="CreditDebitVoucherDocumentDebitsForm" [FormTitle]="'Document Debits'"
                    [formData]="jsonControlCreditDebitVoucherDocumentDebitsArray"
                    [className]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
        <div class="col-8">
            <app-table-boilerplate [tableData]="DocumentDebits" [columnHeader]="DocumentDebitsDisplayedColumns"
                [FormTitle]="'Document Debits'" (DeleteAction)="delete($event,'DocumentDebits')"
                (AddRow)="AddDocumentDebits($event)" (functionCallEmitter)="functionCallHandler($event)"
                (Submit)="saveData($event)" [showsubmit]="true" [ActionObject]="actionObject" [showHeader]="false"
                (callFunction)="functionCallHandler($event)"></app-table-boilerplate>

        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
            <div class="example-button-row  d-flex justify-content-end">
                <button class="msr-3" mat-raised-button color="primary" (click)="save()">Save</button>
                <button mat-button (click)="cancel('Billing​')">Back</button>
            </div>
        </div>
    </div>

</app-common-wrapper-webxpress>