<app-common-wrapper-webxpress [breadscrums]="breadScrums">
    <form [formGroup]="rakeEntryTableForm">
        <app-form-webxpress [form]="rakeEntryTableForm" [formData]="jsonControlArray"
            (callFunction)="functionCallHandler($event)" (functionCallEmitter)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>
    <app-table-boilerplate *ngIf="tableData" [tableData]="tableData" [columnHeader]="displayedColumns"
        (DeleteAction)="delete($event,'tableData')" (functionCallEmitter)="functionCallHandler($event)"
        (Submit)="saveData($event)" [showsubmit]="true" [ActionObject]="actionObject"
        (callFunction)="functionCallHandler($event)"></app-table-boilerplate>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row  d-flex justify-content-end">
    
                    <button mat-button   (click)="cancel()">Back</button>
                    <button class="msr-3" mat-raised-button color="primary"
                        (click)="save()">Save</button>
                </div>
            </div>  
        </div>
</app-common-wrapper-webxpress>