<app-common-wrapper-webxpress [breadscrums]="breadscrums">
<form [formGroup]="loadingSheetTableForm">
    <app-form-without-auto-complete-webxpress [form]="loadingSheetTableForm" [formData]="jsonControlArray"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
    </app-form-without-auto-complete-webxpress>
</form>
Load Details
<generic-table-webxpress *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="csv"
        [csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA" [Link]="linkArray"
        [toggleArray]="toggleArray" [menuItems]="menuItems" (menuItemClicked)="handleMenuItemClick($event)"
        [menuItemFlag]="menuItemflag" [dynamicControls]="dynamicControls">
    </generic-table-webxpress>
Vendor Detail
    <form [formGroup]="departvehicleTableForm">
        <app-form-without-auto-complete-webxpress [form]="departvehicleTableForm" [formData]="departControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-without-auto-complete-webxpress>
    </form>
   Advance and Balance
    <form [formGroup]="advanceTableForm">
        <app-form-without-auto-complete-webxpress [form]="advanceTableForm" [formData]="advanceControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-without-auto-complete-webxpress>
    </form>
    <form [formGroup]="balanceTableForm">
        <app-form-without-auto-complete-webxpress [form]="balanceTableForm" [formData]="balanceControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-without-auto-complete-webxpress>
    </form>
    Departure Details
    <form [formGroup]="departureTableForm">
        <app-form-without-auto-complete-webxpress [form]="departureTableForm" [formData]="departureControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-without-auto-complete-webxpress>
    </form>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
          <div class="example-button-row d-flex justify-content-end">
            <button class="msr-3" mat-raised-button color="primary"  (click)="Close()">Close</button>
            <button class="msr-3" mat-raised-button color="primary" *ngIf="!CEWBflag"  (click)="GenerateCEWB()">Generate</button>
          </div>
        </div>
      </div>

</app-common-wrapper-webxpress>

