<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">
  <form [formGroup]="addDcrTableForm">
    <app-form-webxpress [form]="addDcrTableForm" [formData]="jsonControlArray" [FormTitle]="'DCR Series'"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="false">
    </app-form-webxpress>
  </form>
  <button type="button" mat-raised-button color="primary" (click)="saveData()">
    <ng-container *ngIf="isUpdate; else saveButton">Modify</ng-container>
    <ng-template #saveButton>Save</ng-template>
  </button>&nbsp;&nbsp;
  <button type="button" mat-raised-button color="primary" (click)="allocate()">
    Allocate
  </button>
</app-common-wrapper-webxpress>
