.matdefaulttablecolumncenter {
  padding-right: 14px;
  padding-left: 14px;
  justify-content: center;
  .mat-sort-header-container {
    justify-content: center;
  }
}

.responsive_table {
  mat-table {
    .matcolumncenter {
      border-top: 1px solid #0000001f;
      border-right: 1px solid #0000001f;
      padding-right: 14px;
      padding-left: 14px;
      text-align: center;
      justify-content: center;
      .mat-sort-header-container {
        justify-content: center;
      }
    }
    .matcolumnfirst {
      border-right: 1px solid #0000001f;
      border-left: 1px solid #0000001f;
      padding-right: 14px;
      padding-left: 14px;
      justify-content: center;
      .mat-sort-header-container {
        justify-content: center;
      }
    }
    .matcolumnright {
      border-right: 1px solid #0000001f;
      padding-right: 14px;
      padding-left: 14px;
      justify-content: right;
      .mat-sort-header-container {
        justify-content: center;
      }
    }
    .matcolumnleft {
      border-top: 1px solid #0000001f;
      border-right: 1px solid #0000001f;
      padding-right: 14px;
      padding-left: 14px;
      justify-content: left;
      .mat-sort-header-container {
        justify-content: center;
      }
    }
  }
  mat-cell, mat-header-cell, mat-footer-cell {
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
  /* Other styles specific to your needs */
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  display: table-cell;
}

}
