<app-common-wrapper-webxpress [breadscrums]="breadscrums" [backPath]="backPath">
  <!-- Eway Bill Verfication -->
  <div *ngIf="ewayBill">
    <form [formGroup]="invoiceTableForm">
      <app-form-webxpress [form]="invoiceTableForm"  [formData]="jsonEwayBill"
        (functionCallEmitter)="functionCallHandler($event)" [submit]="ewayBillButton" [showSaveAndCancelButton]="true"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
      <div class="paddingdiv">
        <a class="link-info pointer" (click)="flagEwayBill()">&rarr; Continue Without E-way Bill </a>
      </div>
    </form>
  </div>
  <!-- End -->
  <!--  Basic Detail-->
  <div *ngIf="!ewayBill">
    <form [formGroup]="consignmentTableForm">
      <app-form-webxpress [form]="consignmentTableForm" [FormTitle]="'Basic Detail'" [formData]="jsonControlArrayBasic"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- End -->
  <!-- fleet Detail -->
  <div *ngIf="marketVendor && !this.prqFlag">
   <app-add-fleet-master [thc]="true"></app-add-fleet-master>
  </div>
    <!-- Consignor Detail -->
    <form [formGroup]="consignmentTableForm">
      <app-form-webxpress [form]="consignmentTableForm" [FormTitle]="'Consignor Detail'" [formData]="jsonControlArrayConsignor"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- End -->
    <!-- Consignee Detail -->
    <form [formGroup]="consignmentTableForm">
      <app-form-webxpress [form]="consignmentTableForm" [FormTitle]="'Consignee Detail'" [formData]="jsonControlArrayConsignee"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- ENd -->

    <!--  Container Detail-->
    <div *ngIf="contFlag">
    <form [formGroup]="containerTableForm">
      <app-form-webxpress [form]="containerTableForm" [FormTitle]="'Container Detail'" [formData]="jsonContainerDetail"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <button matTooltip="Add Data Container" mat-stroked-button class="filter_btn" [disabled]="!containerTableForm.valid"
      style="margin-left: 80%;
      position: relative;
      top: -224px" (click)="addData()">
      <mat-icon>add</mat-icon>
      Add New Container
    </button>
    <!-- End -->
  </div>
    <div *ngIf="isLoad" class="d-flex justify-content-center align-items-center">
      <!-- Bootstrap loader -->
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
      <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="tableData" (selectAllClicked)="onSelectAllClicked($event)" [menuItems]="menuItems"
        [staticField]="staticField" [Link]="linkArray" [height]="height" [width]="width" [maxWidth]="maxWidth"
        [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag" (menuItemClicked)="handleMenuItemClick($event)"
        [addFlag]="addFlag" (addEmitter)="addPopUp($event)">
      </app-generic-table-v2>
    <!--  Invoice Details-->
    <form [formGroup]="invoiceTableForm">
      <app-form-webxpress [form]="invoiceTableForm" [FormTitle]="'Invoice Details'" [formData]="jsonInvoiceDetail"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <button matTooltip="Add Data Invoice Detail" mat-stroked-button class="filter_btn" [disabled]="!invoiceTableForm.valid"
      style="margin-left: 81%;margin-left: 80%;
      position: relative;
      top: -297px" (click)="addInvoiceData()">
      <mat-icon>add</mat-icon>
      Add Invoice
    </button>
    <div *ngIf="loadIn" class="d-flex justify-content-center align-items-center">
      <!-- Bootstrap loader -->
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- End -->
      <app-generic-table-v2 *ngIf="!tableLoadIn" [dynamicControls]="dynamicControls" [columnHeader]="columnInvoice"
        [tableData]="invoiceData" (selectAllClicked)="onSelectAllClicked($event)" [menuItems]="menuItems"
        [staticField]="staticFieldInvoice" [Link]="linkArray" [height]="height" [width]="width" [maxWidth]="maxWidth"
        [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag" (menuItemClicked)="handleMenuItemClick($event)"
        [addFlag]="addFlag" (addEmitter)="addPopUp($event)">
      </app-generic-table-v2>
    <!--Freight Detail  -->
    <form [formGroup]="FreightTableForm">
      <app-form-webxpress [form]="FreightTableForm"  [FormTitle]="'Freight Details'" [formData]="jsonControlArray"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <div class="row paddingdiv">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
        <div class="example-button-row d-flex justify-content-start">
          <button class="msr-3" mat-raised-button color="primary" (click)="save()"
            [disabled]="!consignmentTableForm.valid || !FreightTableForm.valid">{{isUpdate?"Edit Docket":"Generate
            Docket"}} </button>
          <button class="msr-3" mat-raised-button color="primary">Back</button>
        </div>
      </div>
    </div>
    <!-- ENd -->
  </div>
  <!-- ENd -->
</app-common-wrapper-webxpress>
