<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">

    <form [formGroup]="jobEntryTableForm">
        <app-form-webxpress [form]="jobEntryTableForm" [FormTitle]="'Job Detail'" [formData]="jsonJobFormControls"
            (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>
    <div *ngIf="isLoad" class="d-flex justify-content-center align-items-center">
        <!-- Bootstrap loader -->
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
        <form [formGroup]="jobEntryTableForm">
            <app-form-webxpress [form]="jobEntryTableForm"  [FormTitle]="'Add Job Detail'" [formData]="jsonFormTableControls"
                (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
                [showSaveAndCancelButton]="false">
            </app-form-webxpress>
        </form>
        <button matTooltip="Add Data" mat-stroked-button class="filter_btn"
        style="margin-left: 85%;" (click)="addDetail()" [disabled]="!this.jobEntryTableForm.controls['cnoteNo'].value && !this.jobEntryTableForm.value.contNo">
        <mat-icon>add</mat-icon>
        Add New 
      </button>
    <div class="paddingdiv">
        <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnJobDetail"
            [tableData]="tableData" (selectAllClicked)="onSelectAllClicked($event)" [menuItems]="menuItems"
            [staticField]="staticField" [Link]="linkArray" [height]="height" [width]="width" [maxWidth]="maxWidth"
            [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag"
            (menuItemClicked)="handleMenuItemClick($event)" [addFlag]="addFlag" (addEmitter)="addPopUp($event)">
        </app-generic-table-v2>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row  d-flex justify-content-end">

                <button mat-button (click)="cancel()">Back</button>
                <button class="msr-3" mat-raised-button color="primary" (click)="save()"
                    [disabled]="!jobEntryTableForm.valid">Save</button>
            </div>
        </div>
    </div>
</app-common-wrapper-webxpress>