<div style="width: 100vw; display: flex; justify-content: center; background-color: white;">
    <div style="width: 1000px; margin: 20px 0px; border: 1px solid black;">
        <div class="body" style="width:100%">
            <div style="width: 100%; display: flex; height: 130px; border-bottom: 1px solid black; padding: 10px 0px;">
                <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/viewTest/image.png" style="height:90%;" />
                </div>
                <div style="width: 80%; display: flex; flex-direction: column; justify-content: space-between;">
                    <h1 class="m-0 p-0 p-1" style="text-align: center; font-weight: bold;">JAIN CARGO MOVERS</h1>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">G1/74 Badarna
                        Industrial Area, V.K.I., Near Maluka Industries, Jaipur -13 Ph. 0141 - 4042152, 4063712 </p>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">FSSAI License
                        No. 12221999000294 | SAC Code: 996791 </p>
                </div>
            </div>
            <div style="width: 100%; padding: 5px;">
                <p class="m-0 p-0" style="font-size: 14px; font-weight: bold;">To,</p>
                <p class="m-0 p-0" style="font-size: 14px; font-weight: bold;">Polycab India Ltd. (UH3X)</p>
            </div>
            <div style="width: 100%; display: flex;">
                <div style="width: 50%; border: 1px solid black; border-left:none;">
                    <P class="m-0 p-0 p-2"
                        style="font-size: 14px; font-weight: bold; padding: 10px; text-align: center; border-bottom: 1px solid black;">
                        Plot No. 105, Halol Vadodara Road, Village Nurpura,Taluka Halol,Panchmahal,Gujarat-389350</P>
                    <div class="m-0 p-0" style="width: 100%; display: flex;">
                        <P class="m-0 p-0 p-1"
                            style="width: 30%; padding: 10px; border-right: 1px solid black; font-size: 14px; font-weight: bold;">
                            GSTIN:-</P>
                        <P class="m-0 p-0 p-1" style="width: 70%; padding: 10px;">24AAACP6474E1ZJ</P>
                    </div>
                </div>
                <div
                    style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div style="display: flex; width: 35%; border: 1px solid black;">
                        <p class="p-0 m-0 p-1" style="width: 35%; border-right: 1px solid black;">Bill No :</p>
                        <p class="p-0 m-0 p-1" style="width: 65%;">276466</p>
                    </div>
                    <div style="display: flex; width: 35%; border: 1px solid black; border-top: none;">
                        <p class="p-0 m-0 p-1" style="width: 35%; border-right: 1px solid black;">Date :</p>
                        <p class="p-0 m-0 p-1" style="width: 65%;">31-12-2023</p>
                    </div>
                </div>
            </div>
            <div class="p-0 m-0 p-1 mt-4" style="width: 100%;  border-top: 1px solid black; ">
                Freight bill raised towards the consignment carried from :
            </div>
            <div class="p-0 m-0" style="width:100%">
                <table style="width:100%">
                    <thead>
                        <tr style="text-align: center; width: 100%;">
                            <th style="width: 6%;">CN/LR Number</th>
                            <th style="width: 6%;">CN/LR Date</th>
                            <th style="width: 6%;">From</th>
                            <th style="width: 6%;">To Station</th>
                            <th style="width: 6%;">No. of Packages</th>
                            <th style="width: 6%;">Weight (MT/KG)</th>
                            <th style="width: 10%;">Invoice No.</th>
                            <th style="width: 10%;">Truck No.</th>
                            <th style="width: 6%;">Date of Arrival</th>
                            <th style="width: 6%;">Date of Delivery</th>
                            <th style="width: 6%;">RFQ no.</th>
                            <th style="width: 6%;">Rate/ PMT/ KG</th>
                            <th style="width: 6%;">Freight Amt (RS.)</th>
                            <th style="width: 6%;">Other Charges (Rs.)</th>
                            <th style="width: 8%;">Total Amount (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>967493</td>
                            <td>30-11-2023</td>
                            <td>Halol</td>
                            <td>Nuapada</td>
                            <td style="text-align: center;">20</td>
                            <td style="text-align: center;">13</td>
                            <td>GJ28DS2324101931</td>
                            <td>UP70DT8827</td>
                            <td>05-12-2023</td>
                            <td>05-12-2023</td>
                            <td style="text-align: center;">345455</td>
                            <td style="text-align: center;">6461</td>
                            <td style="text-align: center;">83991</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">83990</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="font-weight: bold; text-align: center;">
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td style="border-left: none; border-right: none;"></td>
                            <td>Total</td>
                            <td>167986</td>
                            <td>0</td>
                            <td>167986</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="p-0 m-0" style="width:100%">
                <div style="display: flex; width: 100%; font-size: 16px; font-weight: bold; border-bottom: 1px solid black;">
                    <div class="m-0 p-0 p-1" style="width: 30%; text-align: center; border-right: 1px solid black;">
                        Total in Words (Rs.)
                    </div>
                    <div class="m-0 p-0 p-1" style="width: 70%;">
                        One Lac Sixty Seven Thousand Nine Hundred Eighty Six Onlys
                    </div>
                </div>
                <div class="p-0 m-0 p-1" style="width: 100%;">
                    <ul>
                        <li>Freight claimed is exclusive of  GST  which has to be submitted by you to the Government. </li>
                        <li>"We hereby confirm that GST ITC for providing the taxable service has not been taken by us under the provisions mentioned in  the GST Rules 2017"</li>
                        <li>Tax is payable on reverse charge basis </li>
                    </ul>
                </div>
            </div>

        </div>



        <div class="p-0 m-0" style="width:100%">
            <div class="p-0 m-0 p-1" style="width: 100%; text-align: center; font-weight: bold; border-top: 1px solid black;">
                Details of other charges
            </div>
            <table style="width:100%">
                <thead>
                    <tr style="text-align: center; width: 100%;">
                        <th style="width: 15%;">CN/LR Number</th>
                        <th style="width: 10%;">Loading Labour</th>
                        <th style="width: 10%;">Unloading Labour</th>
                        <th style="width: 15%;">Detention Loading</th>
                        <th style="width: 10%;">Detention Unloading</th>
                        <th style="width: 15%;">Multipoint Pickup Charge</th>
                        <th style="width: 15%;">Other Charges</th>
                        <th style="width: 10%;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>967493</td>
                        <td>30-11-2023</td>
                        <td>Halol</td>
                        <td>Nuapada</td>
                        <td style="text-align: center;">20</td>
                        <td style="text-align: center;">13</td>
                        <td>GJ28DS2324101931</td>
                        <td>UP70DT8827</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m-0 p-0 p-3" style="width: 100; text-align: end; font-weight: bold;">
            For Jain Cargo Movers
        </div>
    </div>
</div>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table,
    td:first-child,
    th:first-child {
        border-left: none;
    }

    table,
    td:last-child,
    th:last-child {
        border-right: none;
    }
</style>