<div style="width: 100%; display: flex; justify-content: center; background-color: white;">
    <div style="width: 1000px; margin: 20px 0px; border: 1px solid black;">
        <div class="body" style="width:100%">
            <div style="width: 100%; display: flex; font-weight: bold; border-bottom: 1px solid black;">
                <div class="m-0 p-1" style="width: 50%; text-align: center;">Invoice No.-274534</div>
                <div class="m-0 p-1" style="width: 50%; text-align: center;">Date:- 11/12/2023</div>
            </div>
            <div style="width: 100%; display: flex; height: 130px; border-bottom: 1px solid black; padding: 10px 0px;">
                <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/viewTest/image.png" style="height:90%;" />
                </div>
                <div style="width: 80%; display: flex; flex-direction: column; justify-content: space-between;">
                    <h1 class="m-0 p-0 p-1" style="text-align: center; font-weight: bold;">JAIN CARGO MOVERS</h1>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">G1/74 Badarna
                        Industrial Area, V.K.I., Near Maluka Industries, Jaipur -13 Ph. 0141 - 4042152, 4063712 </p>
                    <p class="m-0 p-0 p-1" style="text-align: center; font-size: 16px; font-weight: bold;">FSSAI License
                        No. 12221999000294 | SAC Code: 996791 </p>
                </div>
            </div>
            <div style="width: 100%;">
                <table style="width:100%;">
                    <tr style="height: 30px; font-weight: bold; ">
                        <td class="p-1 col-3">Billing party Name:</td>
                        <td class="p-1 col-9">Godrej Consumer Products Ltd</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="p-1 col-3">Sending Location Address</td>
                        <td class="p-1 col-9">NH-37 Sarusojai Godrej Consumer Products Ltd.Lokhara Chorialli</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="p-1 col-3">Sending Location GSTIN No.</td>
                        <td class="p-1 col-9">18AABCG3365J1ZH</td>
                    </tr>
                </table>
            </div>

            <div style="width: 100%;">
                <table style="width:100%;">
                    <thead>
                        <tr style="height: 30px; text-align: center;">
                            <th class="p-1" style="width: 6%;">S.No.</th>
                            <th class="p-1" style="width: 8%;">From</th>
                            <th class="p-1" style="width: 6%;">To</th>
                            <th class="p-1" style="width: 10%;">Shipment Date</th>
                            <th class="p-1" style="width: 10%;">Shipment No.</th>
                            <th class="p-1" style="width: 6%;">LR No.</th>
                            <th class="p-1" style="width: 6%;">Truck Type</th>
                            <th class="p-1" style="width: 6%;">Supply Plant</th>
                            <th class="p-1" style="width: 6%;">Truck No.</th>
                            <th class="p-1" style="width: 6%;">Total Weight</th>
                            <th class="p-1" style="width: 6%;">Equivalent Weight</th>
                            <th class="p-1" style="width: 6%;">Rate/KM</th>
                            <th class="p-1" style="width: 6%;">Amount</th>
                            <th class="p-1" style="width: 6%;">Detention Charges</th>
                            <th class="p-1" style="width: 6%;">Payable</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="height: 30px;">
                            <td class="p-1" style=" text-align: center;">1</td>
                            <td class="p-1">Sarusojai</td>
                            <td class="p-1">Lokhra</td>
                            <td class="p-1" style=" text-align: center;">03-11-2023</td>
                            <td class="p-1" style=" text-align: center;">1000940628</td>
                            <td class="p-1" style=" text-align: center;">962595</td>
                            <td class="p-1">F090</td>
                            <td class="p-1">M020</td>
                            <td class="p-1">AS11AC3725</td>
                            <td class="p-1" style=" text-align: center;">8996.832</td>
                            <td class="p-1" style=" text-align: center;">14803.269</td>
                            <td class="p-1" style=" text-align: center;">0.62</td>
                            <td class="p-1" style=" text-align: center;">9173</td>
                            <td class="p-1" style=" text-align: center;">0</td>
                            <td class="p-1" style=" text-align: center;">9173</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="height: 30px; text-align: center; font-weight: bold;">
                            <td colspan="11" class="p-1"> </td>
                            <td class="p-1">Total</td>
                            <td class="p-1">67986</td>
                            <td class="p-1">2000</td>
                            <td class="p-1">67986</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="width: 100%; display: flex; border-bottom: 1px solid black;">
                <p class="m-0 p-1"
                    style="width: 30%; font-size: 14px; font-weight: bold; text-align: center; border-right: 1px solid black;">
                    Total in Words (Rs.)</p>
                <p class="m-0 p-1" style="width: 70%; font-size: 14px; font-weight: bold;">One Lac Sixty Seven Thousand
                    Nine Hundred Eighty Six Only</p>
            </div>

            <div style="width: 100%; display: flex; padding: 40px 0px;">
                <div class="viewfooter" style="width: 30%; display: flex; flex-direction: column;">
                    <div class="p-1">IGST Rate -5%</div>
                    <div class="p-1" style="border-top: none; ">SGST Rate -5%</div>
                    <div class="p-1" style="border-top: none; ">CGST Rate -5%</div>
                    <div class="p-1" style="border-top: none; ">Reverse Charge-Yes</div>
                </div>
                <div class="p-1" style="width: 40%; border: 1px solid black;">
                    <p class="p-0 m-0">Freight claimed is exclusive of GST which has to be submitted by you to the
                        Government.</p>
                    <p class="p-0 m-0">"We hereby confirm that GST ITC for providing the taxable service has not been
                        taken by us under the provisions mentioned in the GST Rules 2017"</p>
                    <p class="p-0 m-0">Tax is payable on reverse charge basis</p>
                </div>
                <div
                    style="width: 30%; display: flex; justify-content: space-between; flex-direction: column; padding: 10px 0px;">
                    <div
                        style="display: flex; justify-content: flex-end; font-weight: bold; font-size: 14px; padding-right: 20px;">
                        For :-JAIN CARGO MOVERS</div>
                    <div style="display: flex; justify-content: flex-end; padding-right: 20px;">AUTHORISED SIGNATORY
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table,
    td:first-child,
    th:first-child {
        border-left: none;
    }

    table,
    td:last-child,
    th:last-child {
        border-right: none;
    }

    table,
    tr:first-child td,
    tr:first-child th {
        border-top: none;
    }

    .viewfooter div {
        display: flex;
        align-items: end;
        width: 70%;
        justify-content: center;
        height: 40px;
        border: 1px solid black;
        border-left: none;
    }
</style>