<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover()" (mouseleave)="mouseOut()">
    <!-- <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)"> -->
    <!-- Menu -->
    <div class="menu">
      <ul id="sidebarnav" class="list"
        [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth+'px'}"
        [perfectScrollbar]>
        <li class="sidebar-user-panel">
          <div class="user-panel">
            <div class=" image">
              <img src="assets/images/user.svg" class="img-circle user-img-circle" alt="User Image" />
            </div>
          </div>
          <div class="profile-usertitle">
            <div class="sidebar-userpic-name">{{userName}}</div>
            <!-- <div class="profile-usertitle-job ">{{'MENUITEMS.USER.POST' | translate}} </div> -->
          </div>
        </li>
        <!-- Top Most level menu [routerLink]="sidebarItem.Class === '' ? [sidebarItem.MenuLink] : null"  -->
        <li [class.active]="level1Menu === sidebarItem.MenuName && sidebarItem.SubMenu.length != 0"
          *ngFor="let sidebarItem of sidebarItems" [routerLinkActive]="sidebarItem.SubMenu.length != 0 ? '' : 'active'">
          <div class="header" *ngIf="(sidebarItem.GroupTitle ?? false) === true">{{sidebarItem.MenuName | translate}}</div>
          <a 
             [routerLink]="(sidebarItem.SubMenu.length > 0 || (sidebarItem.MenuLink ?? '') =='')  ? null : [sidebarItem.MenuLink]"
            *ngIf="!(sidebarItem.GroupTitle ?? false);"
            [ngClass]="[sidebarItem.Class]" (click)="callLevel1Toggle($event, sidebarItem.MenuName)" 
            class="menu-top">
            <i-feather [name]="sidebarItem.Icon" class="sidebarIcon"></i-feather>
            <span class="hide-menu">{{sidebarItem.MenuName | translate}}
            </span>
          </a>
          <!-- First level menu -->
          <ul class="ml-menu" *ngIf="sidebarItem.SubMenu.length > 0">
            <li [ngClass]="level2Menu === sidebarSubItem.MenuName? 'activeSub':''"
              *ngFor="let sidebarSubItem of sidebarItem.SubMenu"
              [routerLinkActive]="sidebarSubItem.SubMenu.length > 0 ? '' : 'active'">
              <a [routerLink]="(sidebarSubItem.SubMenu.length > 0 || (sidebarSubItem.MenuLink ?? '') =='') ? null : [sidebarSubItem.MenuLink]"
                (click)="callLevel2Toggle($event,sidebarSubItem.MenuName)" [ngClass]="[sidebarSubItem.Class]">
                {{sidebarSubItem.MenuName | translate}}
              </a>
              <!-- Second level menu -->
              <ul class="ml-menu-2" *ngIf="sidebarSubItem.SubMenu.length > 0">
                <li *ngFor="let sidebarSubsubItem of sidebarSubItem.SubMenu"
                  [ngClass]="level3Menu === sidebarSubsubItem.MenuName? 'activeSubSub':''"
                  [routerLinkActive]="sidebarSubsubItem.SubMenu.length > 0 ? '' : 'active'">
                  <a [routerLink]="(sidebarSubsubItem.SubMenu.length > 0 || (sidebarSubsubItem.MenuLink ?? '') =='') ? null : [sidebarSubsubItem.MenuLink]"
                    (click)="callLevel3Toggle($event,sidebarSubsubItem.MenuName)"
                    [ngClass]="[sidebarSubsubItem.Class]">
                    {{sidebarSubsubItem.MenuName | translate}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>