<app-common-wrapper-webxpress [breadscrums]="breadscrums">

    <form [formGroup]="deliveryMrTableForm">
        <app-form-webxpress [form]="deliveryMrTableForm" [FormTitle]="'Delivery MR'"
            [formData]="jsonControlDeliveryMrGenArray" (functionCallEmitter)="functionCallHandler($event)"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="false" submit='Submit'
            [className]="className">
        </app-form-webxpress>
    </form>
    <ng-container *ngIf="ShowBookingTimeCharges">
        <form [formGroup]="BookingTimechargesForm">
            <app-form-webxpress [form]="BookingTimechargesForm" [FormTitle]="'Booking Time Charges'"
                [formData]="AlljsonControlBookingTimechargesArray" (functionCallEmitter)="functionCallHandler($event)"
                [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)"
                [className]="'col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2'">
            </app-form-webxpress>
        </form>
    </ng-container>

    <form [formGroup]="DeliveryTimeChargesForm">
        <app-form-webxpress [form]="DeliveryTimeChargesForm" [formData]="DeliveryTimeChargesArray"
            [FormTitle]="'Delivery Time Charges'" (functionCallEmitter)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
    </form>

    <div class="row">
        <div class="col">
            <form [formGroup]="SummaryForm">
                <app-form-webxpress [form]="SummaryForm" [FormTitle]="'Summary'" [DisplayCheckbox]="true"
                    [CheckBoxMessage]="'Round Off'"[checkboxValue]="checkboxChecked" [formData]="jsonSummaryControlArray"
                    [className]="'col-xl-6 col-lg-6 col-md-6 col-sm-3 mb-2'"
                    (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
                    [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
        <div class="col">
            <form [formGroup]="CollectionForm">
                <app-form-webxpress [form]="CollectionForm" [FormTitle]="'Collection Details'"
                    [formData]="jsonCollectionControlArray"
                    [className]="'col-xl-6 col-lg-6 col-md-6 col-sm-3 mb-2'"
                    [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col">
                <form [formGroup]="PaymentSummaryFilterForm">
                    <app-form-webxpress [form]="PaymentSummaryFilterForm" [FormTitle]="'Collection'" [formData]="jsonControlPaymentArray" (functionCallEmitter)="functionCallHandler($event)"
                        [className]="'col-xl-6 col-lg-6 col-md-6 col-sm-3 mb-2'"
                        (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                    </app-form-webxpress>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
            <div class="example-button-row  d-flex justify-content-end">
                <button [disabled]="isSubmitDisabled()" mat-button mat-raised-button color="primary"
                    (click)="GenerateMR()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</app-common-wrapper-webxpress>
