<app-common-wrapper-webxpress [breadscrums]="breadscrums">

    <form [formGroup]="vehicleLoadingTableForm">
        <app-form-without-auto-complete-webxpress [form]="vehicleLoadingTableForm" [formData]="jsonControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-without-auto-complete-webxpress>
    </form>
    <generic-table-webxpress *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="tableData"
        [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
        [csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA" [Link]="linkArray"
        [toggleArray]="toggleArray" [menuItems]="menuItems" [height]="height" [width]="width" [maxWidth]="maxWidth"
        (menuItemClicked)="handleMenuItemClick($event)" [menuItemFlag]="menuItemflag"
        [dynamicControls]="dynamicControls"  [centerAligned]="centerAlignedData">
    </generic-table-webxpress>
    <div class="row" *ngIf="!tableload">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
            <div class="example-button-row d-flex justify-content-end">
                <button class="msr-3" mat-raised-button color="primary" (click)="goBack(2)">Close</button>
            </div>
        </div>
    </div>
</app-common-wrapper-webxpress>