<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <mat-tab-group style="font-size: 16px;">

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="mattablable">
                                    <mat-icon class="example-tab-icon msr-2">create</mat-icon>
                                    Service Selection
                                </div>
                            </ng-template>
                            <div>
                                <app-customer-contract-service-selection></app-customer-contract-service-selection>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .mattablable {
        font-size: 16px;
        display: flex;
        align-items: center;
    }
</style>