<section class="content">
    <div class="container-fluid">
        <!-- <p>report-dashboard works!</p> -->
        <div class="row p-2" style="height: 85vh;">
            <!-- <div class="col-12 row header" style="height: 8%;">
                <h2 class="col-6 p-0 px-2"
                    style="display: flex; font-weight: bolder; align-items: center; letter-spacing: 1px; color: rgba(0, 0, 0,0.6);">
                    Analytics
                </h2>
                <div class="col-6" style="display: flex; align-items: center; justify-content: end;">
                    <label for="search-input" style="display: flex; align-items: center; justify-content: center;">
                        <mat-icon
                            style="width: 30px; height: 30px; font-size: 30px; color: rgba(0, 0, 0, 0.6); margin-right: 10px;">search</mat-icon>
                    </label>
                    <input placeholder="Search Report" type="text" [(ngModel)]="searchTerm" class="SearchInput"
                        (ngModelChange)="SearchData($event)" aria-label="Search box">
                </div>
            </div> -->
            <div class="col-12 row dashboardbody" style="height: 100%; ">
                <div class="col-3" style="border-right: 1px solid rgba(0, 0, 0,0.4); height: 100%;">
                    <div class="row" style="height: 100%;">
                        <div class="col-12" style="height: 10%; display: flex; align-items: center;">
                            <h3 style="letter-spacing: 1px; color: rgba(0, 0, 0,0.6); font-size: 20px;">
                                Function
                            </h3>
                        </div>
                        <div class="col-12"
                            style="height: 90%;margin-top: 15px; display: flex; flex-direction: column; justify-content: start;">
                            <div class="menuCard" *ngFor="let item of menuData">{{item.title}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-9" style="height: 100%; ">
                    <div
                        style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(0, 0, 0,0.4); height: 10%;">
                        <h3
                            style="font-size: 20px; letter-spacing: 1px; padding: 0px 20px;  color: rgba(0, 0, 0,0.6); ">
                            Reports Analytics</h3>
                        <mat-paginator class="paginator" #paginator [pageSizeOptions]="[12]"
                            [hidePageSize]="true"></mat-paginator>

                        <div style="display: flex; align-items: center; justify-content: end;">
                            <label for="search-input"
                                style="display: flex; align-items: center; justify-content: center;">
                                <mat-icon
                                    style="width: 30px; height: 30px; font-size: 30px; color: rgba(0, 0, 0, 0.6); margin-right: 10px;">search</mat-icon>
                            </label>
                            <input placeholder="Search Report" type="text" [(ngModel)]="searchTerm" class="SearchInput"
                                (ngModelChange)="SearchData($event)" aria-label="Search box">
                        </div>
                    </div>
                    <div style="margin: 10px; height: 90%;">
                        <div class="CardBox">
                            <div class="reportCard" *ngFor="let item of obs | async">
                                <div class="taxtCard" (click)="OpenReports(item)">
                                    <div class="textbox">
                                        <div class="p-0 m-0 ">
                                            <mat-icon class="p-0 m-0 "
                                                style="font-size: 27px; width: 27px; height: 27px;">{{item.iconName}}</mat-icon>
                                        </div>
                                        <p class="p-0 m-0 px-2" style="font-weight: bold; font-size: 15px;">
                                            {{item.title}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .paginator {
        width: 33%;
        background-color: transparent;
        height: 55px;
        display: flex;
        justify-content: center;
        color: rgb(32, 32, 32);
        font-size: 14px;
    }

    .SearchInput {
        outline: none;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background: white;
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
    }

    .menuCard {
        margin: 5px;
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
        transform-style: preserve-3d;
        transition-duration: 0.3s;
        color: rgba(0, 0, 0, 0.6);
    }

    .menuCard:hover {
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        color: rgba(0, 0, 0, 0.8)
    }

    .CardBox {
        display: flex;
        flex-wrap: wrap;
    }

    .reportCard {
        width: 33%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .taxtCard {
        width: 100%;
        height: 60%;
        margin: 0px;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 0.3s;
        margin-top: 15px;
    }

    .reportCard:hover .taxtCard {
        margin-top: 10px;
        background-color: white;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .textbox {
        height: 100%;
        display: flex;
        align-items: center;
    }
</style>